
body {
 /* background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg?w=1060&t=st=1705425231~exp=1705425831~hmac=48c0f2562dc172a9c997b1e04d20cf7e0b6dff49d55c563e125c7a59e5e4daed'); */
 background-size: cover;
 background-color: #180243;
}
.login-container {

    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    height: 400px;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login-container h1 {
    color: white;
    font-size: 32px; /* Adjust the font size of the heading */
    margin-bottom: 20px; /* Add margin at the bottom of the heading */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form i{
    color: white;
}


label {
    color: white;
    font-size: 18px; /* Adjust the font size of labels */
    margin-bottom: 5px; /* Add margin at the bottom of labels */
}

input {
    padding: 8px;
    margin-bottom: 15px; /* Add margin at the bottom of inputs */
}

.fa-solid {
    margin-left: 5px; /* Add margin to the left of icons */
}

button {
    padding: 10px;
}


/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  /* max-width: 100%; */
  min-width: 140px;
  padding: 19px 14px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 14px;
    min-width: 106px;
  }
}